body{
    margin: 0;
    padding: 0;
    background:url(BG2.jpg)no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    font-family:sans-serif;
}

.box{
    background: white;
    top: 53%;
    left: 30%;
    position: absolute;
    padding: 60px 40px;
    padding-bottom: 25px;
    box-sizing: border-box;
    transform: translate(-50% ,-50%);
    border-radius: 15px;
    box-shadow: black 0.8px 0.8px 0px 0px;
}

.user{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

p{
    margin: 0;
    padding:  0;
    font-weight:bold;
    color: #f49126;
}

input{
    width: 100%;
    margin-bottom: 13px;
}

input[type="text"],input[type="password"],input[type="email"]{
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: #673ab7;
    font-size: 16px;    
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
    border-bottom: 0.5px solid grey;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(233, 64, 92);
    color: white;
    font-size: 18px;
    font-family:sans-serif;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}


input[type="submit"]:hover{
    cursor: pointer;
    background-color: teal;
}

.a{
    margin-left: calc(50% - 30px);
    font-size: 16px;
}

a:hover{
    color: green;
}

.p{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: grey;
}


.eb{
    color: red;
    font-size: 15px;
}






